@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #1f2937;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 40px;
    width: auto;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
} 

.right-links {
    display: flex;
    gap: 15px;
    margin-right: 15px;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main div {
    padding: 18px;
}

.about {
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #1f2937;
}

#about-image {
    height: 300px;
    width: auto;
    border-radius: 5px;
}

.about-header {
    font-weight: 900;
    font-size: 40px;
}

.about-paragraph {
    font-size: 20px;
    font-weight: 700;
}

.signup-button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 32px;
    border: 2px white solid;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.courses-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.courses-container {
    display: flex;
    gap: 15px;
}

.items {
    text-align: center;
}

.course-images {
    width: 200px;
    height: 200px;
    border: 2px #e5e7eb solid;
    border-radius: 10px;
}

.course-description {
    font-size: 18px;
    color: #1f2937;
    font-weight: 800;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.quote-content, .author {
    width: 70%;
}

.quote-content {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    overflow-wrap: break-word;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 900;
    color: #1f2937;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    border-radius: 20px;
    padding: 10px 40px;
}

.signup-header {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

